@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<style>
    .container {
        padding: 3rem;
        margin: 3rem auto;
    }

    #publicTalk,
    #groupConversation {
        background-color: #25D500;
        border: 3px solid #808080;
        border-radius: 8px;
    }

    #groupConversation {
        margin-bottom: 10rem;
    }
</style>

<script src="~/js/Chat.js"></script>
<div id="publicTalk" class="container">
    <input type="text" id="messageInp" />
    <input type="submit" id="sendMessageBtn" value="Send" />
    <ul id="conversation">
    </ul>
</div>
<div id="groupConversation" class="container">
    <div>
        <input type="text" id="groupNameInp" />
        <input type="submit" id="joinGroupBtn" value="Join" />
    </div>
    <br />
    <div>
        <input type="text" id="messageToGroupInp" />
        <input type="submit" id="sendMessageToGroupBtn" value="Send To Group" />
    </div>
    <ul id="groupConversationUL">
    </ul>
</div>

